[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2 = "*"
graphene-django = ">=3.0.0b1"
pillow = "*"
django-graphql-jwt = {editable = true, git = "https://github.com/rasheedhamdawi/django-graphql-jwt.git"}

[dev-packages]

[requires]
python_version = "3.9"
